a{
	color:inherit;
}

#parrafo{
	color:purple;
	background-color:aqua;
	font-family: fantasy;
}

.parrafo{
	color:white;
	background-color:black;
	font-family: arial
}
span{
	color:green;
	background-color:yellow;
	font-family: verdana
}
